@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

img {
    vertical-align: middle;
    width: 100%; /* w-100 */
    height: 100%; /* h-100 */
    object-fit: cover; /* object-fit-cover */
}
