@charset "utf-8";
/* web font 1 - CDN */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* web font 2 - @font-face > 쓸 폰트 다 입력해야함*/
@font-face {
    font-family: Lato-Thin;
    src: url(./../assets/font/Lato-Thin.ttf);
}
@font-face {
    font-family: Lato-Regular;
    src: url(./../assets/font/Lato-Regular.ttf);
    /* src: url(https://woojin0123.github.io/jfs/assets/font/Lato-Regular.ttf) */
}

/* reset */
* {box-sizing: border-box;}
body,h1,h2,h3,p,ul {
    margin: 0;
}
ul {padding: 0; list-style: none;}
/* typography */
body {
    font-family: "Lato-regular", sans-serif;
}
h2 {
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    letter-spacing: 10px;
    background: #041D2E;
    text-align: center;
    padding: 8px 40px 8px 50px;
    text-transform: uppercase;
}
/* common */
h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#home {
    height: 100vh;
    background: url(./../assets/benjamin-voros-phIFdC6lA4E-unsplash.jpg) no-repeat 50% 50%/cover;
}