@charset "utf-8";
/* 폰트어썸 라이브러리 */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css);

/* 웹 폰트 */
@font-face {
    font-family: "NanumBarunGothic";
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "NanumBarunGothic";
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "NanumBarunGothic";
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
    font-weight: 300;
    font-display: swap;
}

/* 초기화 */
* {
    box-sizing: border-box;
}

body,
h1,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

/* https://sitero.co.kr/fontsize */

a {
    text-decoration: none;
    color: #fff;
}

img {
    vertical-align: middle;
    object-fit: cover;
}
input {
    background: transparent;
    border: none;
    /* input이 focus를 가질 경우 생기는 테두리 */
    outline: none;
    color: #fff;
}
::placeholder {
    color: #fff;
    font-size: 1rem;
}
address {
    font-style: normal;
}


body, a {
    color: #666;
    font-size: 0.81rem;
}
/* #footer {
    background: #000;
} */
#footer .inner {
    max-width: 1100px;
    margin: 0 auto;
}
#footer .linktr {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}
#footer .ftlink ul {
    display: flex;
    margin-right: 5px;
}
#footer .ftlink li:nth-of-type(6) a {
    color: #222;
}
#footer .ftlink li:nth-of-type(7) a {
    color: #222;
}
#footer .ftlink ul li {
    margin-right: 16px;
}
#footer .ftlink ul li:hover {
    text-decoration: underline;
}

#footer .btn_looking_theater {
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 3px 16px;
}
#footer .searchtr img {
    margin-right: 5px;
}

#footer .down {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 50px;
}
#footer .ftlogo {
    padding: 20px 0 20px 0;
}
#footer .sns {
    
    padding: 16px 0px 20px 20px;
}
