@charset "utf-8";

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
    font-family: Lato-Regular;
    src: url(../assets/font/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato-Thin;
    src: url(https://fsclass-n.github.io/jfs/assets/font/Lato-Thin.ttf);
}

/* reset(초기화) */
* {box-sizing: border-box;}
:root {
    scroll-behavior: smooth;
}
body,h1,h2,h3,p,ul {
    margin: 0;
}
ul {
    padding: 0; 
    list-style:none;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
}
iframe {
    width: 100%;
    height: 100%;
}
button {
    border: none;
    cursor: pointer;
}
button:hover {
    background: #ccc;
}

/* typography(타이포그래피) */
:root {
    font-size: 10px;
}
body {
    font: 1.5rem/1.6 "Lato-Regular", sans-serif;
    color: #777;
}
h2 {
    font-weight: 400;
    font-size: 3.6rem;
    color: #fff;
    letter-spacing: 1rem;
    text-transform: uppercase;
}
h3 {
    font-size: 2.4rem;
}
header a {
    color: #f3f3f3;
}
footer a, footer p {
    color: #fff;
}
footer .top-btn a {
    color: #333;
}
footer .sns {
    margin: 24px;
}
footer .sns i {
    font-size: 2.4rem;
    margin: 0 -3px;
}
#contact a {
    color: #777;
}
#contact button {
    color: #fff;
}
#contact .addr {
    font-size: 1.8rem;
}
textarea {
    font: 1.5rem/1.6 "Lato-Regular", sans-serif;
}
::placeholder {
    font: 1.5rem/1.6 "Lato-Regular", sans-serif;
    color: #ccc;
}

/* common(공통) */
h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* trft */
}
h3 {
    text-align: center;
    margin: 64px 0 10px;
}
h3+p {
    text-align: center;
}

/* header area */
header {
    z-index: 99999;
    position: fixed; /* pof */
}
header .gnb ul {
    display: flex;
}
header .gnb li a {
    display: inline-block;
    padding: 8px 16px;
}
header .gnb li a:hover {
    background: #333;
}
header .gnb li i {
    margin-right: 8px;
}

/* footer area */
footer {
    background: #555;
    text-align: center;
    padding: 100px;
}
footer:hover {
    background: #111;
}
/* to the top button */
footer .top-btn {
    display: inline-block;
    background: #ddd;
    padding: 8px 16px;
}
footer .top-btn:hover {
    background: #bbb;
}
footer .top-btn a:hover {
    color: #111;
}
footer .top-btn i {
    margin-right: 8px;
}

/* about+work+contact section common area */
.parallax-bg {
    position: relative;
    height: 400px;
    background: no-repeat 50% 50% / cover fixed;
}
.container {
    max-width: 900px;
    margin: 48px auto 96px;
    text-align: center;
}
button {
    background: #f1f1f1;
    padding: 12px 24px;
    margin-top: 10px;
    border-radius: 5px;
}

/* about section area */
#about .parallax-bg {
    background: url(./../assets/imgs/about.jpg) 50%/cover fixed;
}
#about .basic strong {
    text-decoration: underline 2px wavy rgba(196, 142, 247, 9);
}
#about .container i {
    margin-right: 14px;
}
#about .container p {
    line-height: 1.8;
}
#about .name {
    font-style: italic;
}
#about .basic b {
    display: inline-block;
    margin-bottom: 24px;
}
#about .basic p {
    text-align: left;
}
#about .basic .inner {
    display: flex;
    gap: 48px;
    margin: 48px 0 70px;
}
#about .basic .inner div {
    flex: 50%;
}
#about .basic .inner p {
    flex: 50%;
}
#about .basic .inner img {
    height: 283px;
    filter: opacity(50%);
}
#about .basic .inner img:hover {
    filter: none;
}

/* skill area */
#about .skill > p {
    margin: 30px;
    font-size: 1.8rem;
}
#about .skill .inner p {
    text-align: left;
    margin: 15px 0;
    letter-spacing: 6px;
}
#about .prograssbar {
    background: #f1f1f1;
}
#about .prograssbar div {
    height: 35px;
    line-height: 35px;
    color: #fff;
    background: #616161;
}
#about .prograssbar:nth-of-type(1) div {
    width: 90%;
}
#about .prograssbar:nth-of-type(2) div {
    width: 80%;
}
#about .prograssbar:nth-of-type(3) div {
    width: 70%;
}

/* count area */
#about .count ul {
    display: flex;
    text-align: center;
    background: #616161;
    color: #fff;
    padding: 36px 0;
}
#about .count ul li {
    /* flex: [grow|shrink|basis]; */
    flex: 25%;
}
#about .count span {
    display: block;
    font-size: 3.5vw;
}


/* work section area: work.html */
#work .parallax-bg {
    background: url(./../assets/imgs/portfolio.jpg) 50%/cover fixed;
}
#work .portfolio {
    display: flex;
    gap: 16px;
}
#work .portfolio li {
    flex: 25%;
    height: 162px;
}
#shadow {
    width: 200px;
    height: 50px;
    margin: 64px 0 0;
    background: inherit; /* 부모에게 상속 */
    color: #000;
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: 2s ease-out;
}
#shadow:hover {
    box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}
/* 테블릿 */
@media (max-width: 1024px) {
/* 타이포 */
    body {
        /* 뷰포트 단위: vw, vh, vmax, vmin */
        font-size: 2vw;
    }
    h2 {
        font-size: 6vw;
    }
    h3 {
        font-size: 4vw;
    }
    button {
        font-size: 2.5vw;
    }
    .top-btn {
        font-size: 2.5vw;
    }
    footer .sns a i {
        font-size: 4vw;
    }

/* 섹션 공통 */
    .container {
        margin: 48px 24px 96px;
    }

/* about 섹션 */
    /* #about .count ul {
        display: block;
        flex-wrap: wrap;
        gap: 16px;
    }
    #about .count ul li {
        flex: 25%;
    } */

/* work 섹션 */
    #work .portfolio {
        flex-wrap: wrap;
        padding: 0 24px;
}
    #work .portfolio li {
        flex: 48%;
        height: 240px;
}
}

/* 폰 */
@media (max-width: 767px) {
/* 타이포 */
    body {
        font-size: 3.5vw;
    }
    h2 {
        font-size: 10vw;
    }
    h3 {
        font-size: 7vw;
    }
    button {
        font-size: 4vw;
    }

    /* about 섹션 */
    #about .count ul {
        display: block;
        flex-wrap: wrap;
        gap: 16px;
    }
    #about .count ul li {
        margin-bottom: 24px;
    }
    #about .container p {
        font-size: 4vw;
    }
    #about .skill > p {
        font-size: 5vw;
    }
    #about .skill .inner {
        font-size: 6vw;
    }
    #about .skill .inner p {
        font-size: 4vw;
        letter-spacing: 3vw;
    }
    #about .count span {
        font-size: 8vw;
    }
    .top-btn {
        font-size: 4.5vw;
    }
    footer .sns a i {
        font-size: 6.5vw;
    }

/* 공통 */
    .ele-hide {
        display: none;
    }

/* footer 섹션 */
    footer {
        padding: 100px 0;
    }

/* work 섹션*/
    #work .portfolio li {
        flex: 100%;
}
}
